html body{
  font-family: 'Lato', sans-serif;
  background-color: #F8F9FA;
}

.music-list-container ul{
  list-style: none;
}

ul#player-list li{
  display:flex;
  margin: 15px;
  padding: 10px;
  border-radius: 12px;
  
  background-color: #fff;
  box-shadow: 0 8px 20px 0 rgba(0,0,0, 0.17);
}

ul#player-list li p{
  order: 2;
  font-family: 'LatoBold', sans-serif;
  font-size: 18px;
  margin-left: 15px;

  text-transform: capitalize;
}

ul#player-list li div.navigation,
ul#tags li div.navigation,
div.music-container .controls-music div.navigation{
  background-color: #EBF3FF;
  border-radius: 50px;
}

#player-list li button.action-btn.btn-play,
div.music-container .controls-music button#play.action-btn,
div.music-container .controls-music button#prev.action-btn,
div.music-container .controls-music button#next.action-btn{
  border: 0;
  background-color: #3366CC;
  border-radius: 50px;
  margin: 5px;
  padding: 10px 18px;
  font-size: 24px;
}

ul#player-list li i,
div.music-container .controls-music button.action-btn i.fas{
  color: #FFF;
}

/* LECTEUR CONTINU */
.music-container.col-sm-12{
  background-color: #FFF;
  padding: 10px;
}

ul.tags{
  list-style: none;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul.tags li button{
  width: fit-content;
  margin: 5px;
  border: 0;
  background-color: #A5C3FF;
  padding: 2px 10px;
  border-radius: 20px;
}

.xml-link{
  display: block;
  text-align: center;
  width: 75%;
  padding: 10px;
  text-decoration: none;
  background-color: #3366CC;
  border-radius: 12px;
  color: #FFF;
}

.xml-link:hover{
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

div.music-info.col-sm-4,
div.music-container .col-sm-4{
  display: flex;
  align-items: center;
}
div.music-container .col-sm-4{
  justify-content: center;
}

div.tags-container.col-sm-4{
    display: flex;
    flex-direction: column;
}

div.music-info.col-sm-4 h4{
  text-transform: capitalize;
}

#filter-form{
  width: 360px;
  height: 560px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.17);
  border-radius: 12px;
  background-color: #FFFFFF;
  font-weight: bold;
}

#filter-form .form-group{
  margin-bottom: 16px;
}

#filter-form input, #filter-form select{
  border-radius: 4px;
  border: 1px solid #A5C3FF;
  width: 100%;
  height: 32px;
}

#filter-title{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #3366CC;
}

.btn-filter{
  display: block; 
  padding:0.75rem;   
  text-align: center;

  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

#search-filter{
  margin-top: 32px;

  background-color: #3366CC;
  color: #fff;
  font-size: 16px;
  box-shadow: 0px 8px 20px rgba(51, 102, 204, 0.17);
}

#search-filter:hover{
  text-decoration: none;
  cursor: pointer;
  color:#fff;
  background-color: #2952a3;
  transition: all 0.3s ease-in-out;
}

#reset-filter{
  margin-top: 16px;
  color: #3366CC;
  border: 1px solid #A5C3FF;
  box-sizing: border-box;
  border-radius: 6px;
}

#reset-filter:hover{
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #3366CC;
  transition: all 0.3s ease-in-out;
}